<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Admin</title>
</head>

<body>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        var allow = prompt("请输入授权码：", "");
        if (allow) {
            $.post('/api/v1/adminLogin', {
                code: allow
            }, function (res) {
                if (res.code == 200) {
                    window.location.reload()
                } else {
                    alert("授权码错误")
                    window.location.reload()
                }
            })
        } else {
            window.location.href = "about:blank";
            window.close()
        }
    </script>
</body>

</html>